table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.error {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Display items in a column */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
  }

  .error span {
    margin-top: 20px;
    font-size: 24px; /* Message font size */
  }
  
  .error button {
    margin-top: 20px; /* Margin above the button */
  }
  

button {
  margin-right: 15px;
}  